@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --al: alegreya.classname;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hero-bg {
  background-image: url("/assetes/png/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.form-bg {
  background-image: url("/assetes/png/form-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.vision-bg {
  background: linear-gradient(180deg, #19172f 0%, rgba(19, 17, 38, 0) 100%);
}
.card-bg {
  background-image: url("/assetes/png/card-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.bg-token {
  background-image: url("/assetes/png/tokenbg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
}
.swiper-button-next::after {
  content: none !important;
}
.swiper-button-prev::after {
  content: none !important;
}
.mySwiper {
  width: 100%;
}
.mySwiper img {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 60px;
}
.swiper-pagination {
  margin-top: 60px;
  bottom: -40px;
  position: absolute;
}
.bgimg {
  background-image: url("/assetes/png/cardbg.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
